@use "./styles/globals" as *;

.todo-app {
  flex: 1;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-bg);
    pointer-events: none;
    z-index: -2;
  }

  &__content {
    @include absolute-center;
    @include flex-gap(48px, column);
    width: min(541px, 95%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 30px;
  }

  &__title {
    height: 100%;
    font: 700 xx-large/100% #{$base-font};
    letter-spacing: 10px;
    color: $color-white;
  }
}
