@use "../../styles/globals" as *;

.todo {
  width: 100%;
  display: flex;
  padding: 0 24px;
  color: var(--todo-color);

  &--completed {
    text-decoration: line-through;
    color: var(--todo-completed);
  }

  &:hover &__actions {
    opacity: 1;
  }

  &__info {
    flex: 1;
    @include flex-gap(24px);
    align-items: center;
    font: $text-preset-1;
  }

  &__actions {
    opacity: 0;
    @include flex-gap(12px);
    align-items: center;
  }

  &__action {
    cursor: pointer;

    &--edit {
      svg {
        width: 21px;
        height: 21px;
        stroke: #393a4b;
      }
    }
  }
}
