@use "@/shared/styles/mixins" as *;

.form {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;

  &__input {
    flex: 1;
    height: 100%;
    background: transparent;
    font: var(--text-preset-1);
    color: var(--input-color);
    outline: none;
    border: none;
  }

  &__submit {
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid var(--btn-border);
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--gradient-1);
    }

    &--bg {
      width: 18px;
      height: 18px;
      border-radius: 100vh;
      background: var(--body-bg);
      @include absolute-center;
    }
  }
}
