.button {
  font: var(--text-preset-2);

  &--primary {
    color: var(--todo-actions);

    &:hover {
      color: var(--todo-actions-hover);
    }
  }

  &--selectable {
    color: var(--todo-actions);

    &:hover {
      color: var(--todo-actions-hover);
    }
  }

  &--selected {
    color: var(--todo-actions-active);
  }
}
