@use "@/shared/styles/mixins" as *;

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background: var(--body-bg);
  box-shadow: var(--box-shadow-1);
  border-radius: 5px;
}

.todoList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  overflow-y: auto;
  margin: 6px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.createTodo {
  @include flex-gap(24px);
  align-items: center;
  width: 100%;
  height: 64px;
  background: var(--body-bg);
  box-shadow: var(--box-shadow-1);
  padding: 0 28px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

  &--error {
    animation:
      errorBounce 0.5s ease-in-out,
      errorBorder 2s ease-in-out;
  }

  &--error > &__indicator {
    opacity: 1;
    color: var(--error-color);
  }

  &--success {
    animation:
      successBounce 0.5s ease-in-out,
      successBorder 2s ease-in-out;
  }

  &--success > &__indicator {
    opacity: 1;
    color: var(--success-color);
  }

  &__indicator {
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &__input {
    flex: 1;
    height: 100%;
    background: transparent;
    font: var(--text-preset-1);
    color: var(--input-color);
    outline: none;
    border: none;
  }
}

.todosActions {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  font: var(--text-preset-2);
  color: var(--todo-actions);
  border-top: 1px solid var(--color-purple-800);

  &__itemsLeft {
    color: inherit;
  }
}

.filters {
  display: flex;
  gap: 8px;
}

@keyframes errorBounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes errorBorder {
  0% {
    border: 1px solid var(--error-color);
  }
  50% {
    border: 1px solid var(--error-color);
  }
  75% {
    border: 1px solid var(--error-color);
  }
  100% {
    border: none;
  }
}

@keyframes successBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes successBorder {
  0% {
    border: 1px solid var(--success-color);
  }
  50% {
    border: 1px solid var(--success-color);
  }
  75% {
    border: 1px solid var(--success-color);
  }
  100% {
    border: none;
  }
}
