@use "../../shared/styles/mixins" as *;

.todos {
  flex: 1;
  @include flex-gap(24px, column);
  min-height: 0;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: var(--body-bg);
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
  }
}
