@use "../../../../shared/styles/mixins" as *;

.create-todo {
  @include flex-gap(24px);
  align-items: center;
  width: 100%;
  height: 64px;
  background: var(--body-bg);
  box-shadow: var(--box-shadow-1);
  padding: 0 24px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

  &--error {
    animation:
      errorBounce 0.5s ease-in-out,
      errorBorder 2s ease-in-out;
  }

  &--success {
    animation:
      successBounce 0.5s ease-in-out,
      successBorder 2s ease-in-out;
  }

  &__input {
    flex: 1;
    height: 100%;
    background: transparent;
    font: var(--text-preset-1);
    color: var(--input-color);
    outline: none;
    border: none;
  }

  &__error {
    width: 24px;
    height: 24px;
    color: var(--error-color);

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &__success {
    width: 24px;
    height: 24px;
    color: var(--success-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--created {
      opacity: 1;
    }

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes errorBounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes errorBorder {
  0% {
    border: 1px solid var(--error-color);
  }
  50% {
    border: 1px solid var(--error-color);
  }
  75% {
    border: 1px solid var(--error-color);
  }
  100% {
    border: none;
  }
}

@keyframes successBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes successBorder {
  0% {
    border: 1px solid var(--success-color);
  }
  50% {
    border: 1px solid var(--success-color);
  }
  75% {
    border: 1px solid var(--success-color);
  }
  100% {
    border: none;
  }
}
