@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  // Colors

  --color-white: #ffffff;
  --color-black: #000000;

  --color-purple-800: #393a4b;
  --color-purple-700: #4d5067;
  --color-purple-600: #5b5e7e;
  --color-purple-300: #c8cbe7;
  --color-purple-100: #e3e4f1;

  --color-gray-600: #9495a5;
  --color-gray-300: #d1d2da;
  --color-gray-050: #d1d2da;

  --color-navy-950: #171823;
  --color-navy-900: #25273d;
  --color-navy-850: #494c6b;

  --color-blue-500: #3a7cfd;

  --gradient-1: linear-gradient(90deg, #55ddff, #c058f3);
  --gradient-2: linear-gradient(90deg, #3710bd, #a42395);

  --error-color: #ed4c5c;
  --success-color: #26c281;

  // Typography
  --base-font: "Josefin Sans", sans-serif;

  --text-preset-1: 400 18px/100% var(--base-font);
  --text-preset-2: 700 14px/100% var(--base-font);
  --text-preset-3: 400 14px/100% var(--base-font);
  --text-preset-4: 400 12px/100% var(--base-font);

  // Box shadows
  --box-shadow-1: 0 35px 50px -15px rgb(0 0 0 / 0.5);

  // Todo hover colors
  --todo-hover-light: #e8e8eb;
  --todo-hover-dark: #2a2d42;
}

// Theme based colors
:root[data-theme="light"] {
  --main-bg: var(--color-gray-050);
  --body-bg: var(--color-white);
  --btn-border: var(--color-purple-300);
  --input-color: var(--color-purple-800);
  --todo-color: var(--color-navy-850);
  --todo-hover: var(--todo-hover-light);
  --todo-completed: var(--color-gray-300);
  --todo-actions: var(--color-gray-600);
  --todo-actions-hover: var(--color-navy-850);
  --todo-actions-active: var(--color-blue-500);
}

:root[data-theme="dark"] {
  --main-bg: var(--color-navy-950);
  --body-bg: var(--color-navy-900);
  --btn-border: var(--color-purple-800);
  --input-color: var(--color-gray-600);
  --todo-color: var(--color-purple-100);
  --todo-hover: var(--todo-hover-dark);
  --todo-completed: var(--color-purple-700);
  --todo-actions: var(--color-purple-600);
  --todo-actions-hover: var(--color-purple-300);
  --todo-actions-active: var(--color-blue-500);
}
