@use "../../../../shared/styles/mixins" as *;

.todo {
  display: flex;
  align-items: center;
  font: var(--text-preset-1);
  color: var(--todo-color);
  border: 1px solid var(--color-purple-800);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition:
    text-decoration 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &--deleting {
    animation: slideOutFadeOut 0.5s ease-in-out forwards;
  }

  & > button {
    margin: 24px;
  }

  &:hover,
  &:hover > button > div {
    background-color: var(--todo-hover);
  }

  &--completed {
    text-decoration: line-through;
    color: var(--todo-completed);
    transition:
      text-decoration 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  &:hover &__actions {
    opacity: 1;
  }

  &__title {
    flex: 1;
    text-align: left;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &__actions {
    opacity: 0;
    align-self: stretch;
    display: flex;
  }

  &__delete {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 24px;
  }
}

@keyframes slideOutFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
